/* comentarios en css*/
/* Selectores */


/*selector de etiqueta*/
/* a todos los elementos <p> les asigna las propiedades definidas*/

h1 {
    background-color: rgb(100, 50 , 88);
    width: 400px; /*Unidad fija*/
    height: 50vh; /*Alto de un elemento*/
    display: inline-block;
}

button {
    background-color: pink;
}

p {
    color: green;
}


/* selectores de clase*/

.textoAzul {
    color: blue;
    background-color: rgb(160, 140, 110);
}
/* Selectores por id*/

#unTexto {
    background-color: orange;
}

img {
    /*width: 50% ; ancho de un elemento*/
    height: 100vh;
}

div {
    width: 350px;
    height: 450px;
    background-image: url(./Perro.png);
}



/* le va a colocar a los elementos todas las propiedades que le asigne, pero siempre le va a aplicar primero por especificidad.
Primero por etiqueta, por clase class y por ID  */
/*color : propiedad de color tipografico
background-color fondo de pantalla*/

/* Definir colores:
hexadecimal: # A-F 0-9

rgb (red green blue) = rgba (transparencia agrega la a

colores: predefinidos por css ROJO - VERDE - AZUL*/

/* UNIDADES
    porcentaje (%) toma como 100%  la medida del padre para saber cuanto va a valer el hijo.
*/


/*border 3 valores: 
el color, el grosor y el tipo de borde
border: black 2px solid

border-radius: curvar las puntas..*/

/* height: 50vh; view height -> esto representa un 50% de la pantalla*/